body {
  background-color: #f2efe7;
}

h1,
h2,
a,
p,
li {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  padding: 16px;
}

a:hover {
  text-decoration: underline;
}

img {
  border-radius: 30px;
}

li {
  line-height: 32px;
}

.page-heading {
  text-align: center;
}

.recipe-links {
  display: inline-flex;
  flex-direction: column;
}

.description-image-container {
  display: flex;
  gap: 32px;
  margin: 32px 80px;
}

.right-side {
  background-color: #dfd7d7;
  border-radius: 30px;
  padding: 16px 80px;
}
